.card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border-radius:20px;
    height:400px;
    width: 300px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    border-radius: 20px!important;
}

.card:hover {
    transform: scale(1.1);
}
img{
    height: 180px;
}

  